In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [2]:
raw_1997_a_m = pd.read_excel('Resources/State_A_M_1997.xlsx')
raw_1997_n_z = pd.read_excel('Resources/State_N_Z_1997_data.xlsx')
raw_2007_a_m = pd.read_excel('Resources/State_A_M_2007.xlsx')
raw_2007_n_z = pd.read_excel('Resources/State_N_Z_2007.xlsx')
raw_2017_a_m = pd.read_excel('Resources/YRSS_2017__State_A_M.xlsx')
raw_2017_n_z = pd.read_excel('Resources/YRSS_2017_State_N_Z.xlsx')

In [3]:
raw_1997_a_m.describe()
raw_1997_n_z.describe()
raw_2007_a_m.describe()
raw_2007_n_z.describe()
raw_2017_a_m.describe()
raw_2017_n_z.describe()

,sitetypenum,survyear,weight,stratum,PSU,record,age,sex,grade,race4,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
count,52198.0,52198.0,52198.000000,52198.000000,52198.000000,5.219800e+04,51966.000000,51630.000000,51456.000000,50543.000000,...,18893.000000,1370.000000,3986.000000,8442.000000,2118.00000,0.0,6022.000000,23568.000000,0.0,4075.000000
mean,2.0,14.0,70.870995,22.768918,3.464252,1.468470e+06,4.857022,1.490819,2.408504,1.908889,...,1.439951,3.880292,2.223281,1.188936,2.81728,NaN,1.730488,1.119102,NaN,1.126135
std,0.0,0.0,87.881336,18.998994,4.848362,2.547539e+04,1.248909,0.499921,1.092169,1.122643,...,0.826242,2.494460,1.135409,0.717844,1.67144,NaN,1.007494,0.690382,NaN,0.532490
min,2.0,14.0,1.000000,1.000000,1.000000,1.433331e+06,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,NaN,1.000000,1.000000,NaN,1.000000
25%,2.0,14.0,8.203100,8.000000,1.000000,1.446380e+06,4.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,NaN,1.000000,1.000000,NaN,1.000000
50%,2.0,14.0,37.377200,16.000000,2.000000,1.459430e+06,5.000000,1.000000,2.000000,1.000000,...,1.000000,4.000000,2.000000,1.000000,3.00000,NaN,1.000000,1.000000,NaN,1.000000
75%,2.0,14.0,108.190350,36.000000,2.000000,1.494247e+06,6.000000,2.000000,3.000000,3.000000,...,2.000000,6.000000,3.000000,1.000000,4.00000,NaN,3.000000,1.000000,NaN,1.000000
max,2.0,14.0,845.472800,69.000000,43.000000,1.509748e+06,7.000000,2.000000,4.000000,4.000000,...,5.000000,8.000000,5.000000,6.000000,6.00000,NaN,4.000000,7.000000,NaN,4.000000

In [4]:
raw_1997_a_m.fillna(0)
raw_1997_n_z.fillna(0)
raw_2007_a_m.fillna(0)
raw_2007_n_z.fillna(0)
raw_2017_a_m.fillna(0)
raw_2017_n_z.fillna(0)

,sitecode,sitename,sitetype,sitetypenum,survyear,weight,stratum,PSU,record,age,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
0,NC,North Carolina (NC),State,2,14,92.0171,4,2,1433331,0.0,...,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0
1,NC,North Carolina (NC),State,2,14,189.1352,10,2,1433332,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2,NC,North Carolina (NC),State,2,14,39.7448,6,1,1433333,1.0,...,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NC,North Carolina (NC),State,2,14,102.7125,16,1,1433334,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,4.0,4.0,0.0,0.0
4,NC,North Carolina (NC),State,2,14,137.7275,3,2,1433335,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52193,WV,West Virginia (WV),State,2,14,120.8731,6,2,1509744,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52194,WV,West Virginia (WV),State,2,14,64.4657,5,1,1509745,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52195,WV,West Virginia (WV),State,2,14,16.8292,5,1,1509746,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52196,WV,West Virginia (WV),State,2,14,117.3226,11,1,1509747,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52197,WV,West Virginia (WV),State,2,14,117.3226,11,1,1509748,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
Final_2017_df = raw_2017_a_m.append(raw_2017_n_z, ignore_index = True) 
len(Final_2017_df.columns)

150

In [6]:
Final_2007_df = raw_2007_a_m.append(raw_2007_n_z, ignore_index = True) 
len(Final_2007_df.columns)

150

In [7]:
Final_1997_df = raw_1997_a_m.append(raw_1997_n_z, ignore_index = True) 
len(Final_1997_df.columns)

150

In [8]:
Final_2017_df.fillna(0)
Final_2007_df.fillna(0)
Final_1997_df.fillna(0)

,sitecode,sitename,sitetype,sitetypenum,year,survyear,weight,stratum,PSU,record,...,qwenthungry,qmusclestrength,qsunscreenuse,qindoortanning,qsunburn,qconcentrating,qcurrentasthma,qwheresleep,qspeakenglish,qtransgender
0,AL,Alabama (AL),State,2,1997,4,48.6943,23,2,187083,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,Alabama (AL),State,2,1997,4,66.3539,8,2,187084,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AL,Alabama (AL),State,2,1997,4,82.4886,4,2,187085,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AL,Alabama (AL),State,2,1997,4,61.6591,8,2,187086,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AL,Alabama (AL),State,2,1997,4,36.0342,17,2,187087,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47461,WY,Wyoming (WY),State,2,1997,4,16.9679,9,4,247332,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47462,WY,Wyoming (WY),State,2,1997,4,25.7929,25,2,247333,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47463,WY,Wyoming (WY),State,2,1997,4,25.7929,25,2,247334,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47464,WY,Wyoming (WY),State,2,1997,4,16.9679,9,5,247335,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47465,WY,Wyoming (WY),State,2,1997,4,18.8455,28,2,247336,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
Data_2017 = Final_2017_df[["sitecode", "year", "weight", "stratum", "age", "sex", "grade",
                          "race4", "race7","q30", "q31","q32", "q33", "q37", "q38", "q39",
                           "q34", "q34", "q35", "q68", "q69","q70", "q79", "q80", "q83"]]
Data_2017.fillna(0)

,sitecode,year,weight,stratum,age,sex,grade,race4,race7,q30,...,q39,q34,q34,q35,q68,q69,q70,q79,q80,q83
0,AK,2017.0,33.2002,3,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AK,2017.0,51.5642,22,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,2.0,2.0,1.0,0.0,0.0,5.0,4.0,4.0,2.0
2,AK,2017.0,15.7927,8,3.0,0.0,0.0,3.0,4.0,1.0,...,0.0,1.0,1.0,7.0,0.0,0.0,1.0,1.0,7.0,1.0
3,AK,2017.0,15.3101,9,3.0,0.0,1.0,1.0,6.0,2.0,...,0.0,2.0,2.0,1.0,0.0,0.0,2.0,6.0,2.0,1.0
4,AK,2017.0,14.5619,1,6.0,0.0,2.0,4.0,7.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,6.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107659,WV,0.0,120.8731,6,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,2.0,1.0,5.0,4.0,2.0
107660,WV,0.0,64.4657,5,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,4.0,2.0
107661,WV,0.0,16.8292,5,7.0,1.0,4.0,3.0,4.0,2.0,...,1.0,2.0,2.0,1.0,3.0,3.0,1.0,1.0,4.0,1.0
107662,WV,0.0,117.3226,11,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,2.0,4.0,1.0,8.0,3.0,2.0
107663,WV,0.0,117.3226,11,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,1.0,2.0,6.0,6.0,2.0

In [10]:
Data_2007 = Final_2007_df[["sitecode", "year", "weight", "stratum", "age", "sex", "grade",
                          "race4", "race7", "q28", "q29","q30","q31","q32","q33", "q35",
                          "q36", "q37", "q38", "q39", "q40","q41","q72","q78","q79"]]
Data_2007.fillna(0)

,sitecode,year,weight,stratum,age,sex,grade,race4,race7,q28,...,q35,q36,q37,q38,q39,q40,q41,q72,q78,q79
0,AK,2007,27.7943,18,0.0,0.0,3.0,1.0,6.0,2.0,...,0.0,0.0,0.0,1.0,0.0,6.0,2.0,2.0,0.0,7.0
1,AK,2007,24.7029,26,1.0,0.0,0.0,3.0,4.0,5.0,...,0.0,0.0,0.0,7.0,0.0,7.0,2.0,1.0,0.0,1.0
2,AK,2007,23.6404,1,3.0,0.0,0.0,1.0,6.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,6.0
3,AK,2007,17.7303,4,4.0,0.0,1.0,1.0,6.0,1.0,...,0.0,0.0,0.0,1.0,0.0,2.0,1.0,2.0,0.0,7.0
4,AK,2007,27.5419,6,4.0,0.0,1.0,1.0,6.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,4.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103947,NV,1997,55.3166,16,4.0,1.0,1.0,3.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,0.0
103948,NV,1997,23.7530,26,4.0,1.0,2.0,3.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0
103949,NV,1997,62.8366,9,4.0,1.0,1.0,1.0,6.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
103950,NV,1997,61.8659,9,4.0,1.0,2.0,2.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0
103951,NV,1997,61.8659,9,4.0,1.0,2.0,1.0,6.0,1.0,...,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0

In [11]:
Data_1997 = Final_1997_df[["sitecode", "year", "weight", "stratum", "age", "sex", "grade",
                          "race4", "race7","q26", "q27", "q28", "q29", "q64",
                          "q65"]]
Data_1997.fillna(0)

,sitecode,year,weight,stratum,age,sex,grade,race4,race7,q26,q27,q28,q29,q64,q65
0,AL,1997,48.6943,23,1.0,0.0,2.0,2.0,3.0,2.0,2.0,0.0,0.0,0.0,3.0
1,AL,1997,66.3539,8,3.0,0.0,0.0,2.0,3.0,2.0,2.0,1.0,1.0,0.0,4.0
2,AL,1997,82.4886,4,4.0,0.0,3.0,4.0,2.0,1.0,0.0,1.0,0.0,0.0,4.0
3,AL,1997,61.6591,8,4.0,0.0,0.0,2.0,3.0,1.0,1.0,1.0,1.0,0.0,1.0
4,AL,1997,36.0342,17,4.0,0.0,0.0,1.0,6.0,2.0,2.0,1.0,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47461,WY,1997,16.9679,9,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,1.0,1.0
47462,WY,1997,25.7929,25,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,2.0,4.0
47463,WY,1997,25.7929,25,7.0,1.0,4.0,1.0,6.0,1.0,1.0,2.0,3.0,2.0,4.0
47464,WY,1997,16.9679,9,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,2.0,3.0
47465,WY,1997,18.8455,28,7.0,1.0,3.0,4.0,0.0,2.0,2.0,1.0,1.0,3.0,2.0

In [21]:
Data_1997 = Data_1997.rename(columns = {'sitecode':'State', 'race4':'Race', 'race7':'His/Lat','q4':'RACE',
                             'q26':'Tried Cigarette?', 'q27': 'Age 1st smoke','q28':'# Smoke past 30d?',
                              'q29': '#count per day', 'q64' : 'your wgt'})

In [22]:
Data_1997

,State,year,weight,stratum,age,sex,grade,Race,His/Lat,Tried Cigarette?,Age 1st smoke,# Smoke past 30d?,#count per day,your wgt,q65
0,AL,1997,48.6943,23,1.0,NaN,2.0,2.0,3.0,2.0,2.0,NaN,NaN,NaN,3.0
1,AL,1997,66.3539,8,3.0,NaN,NaN,2.0,3.0,2.0,2.0,1.0,1.0,NaN,4.0
2,AL,1997,82.4886,4,4.0,NaN,3.0,4.0,2.0,1.0,NaN,1.0,NaN,NaN,4.0
3,AL,1997,61.6591,8,4.0,NaN,NaN,2.0,3.0,1.0,1.0,1.0,1.0,NaN,1.0
4,AL,1997,36.0342,17,4.0,NaN,NaN,1.0,6.0,2.0,2.0,1.0,1.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47461,WY,1997,16.9679,9,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,1.0,1.0
47462,WY,1997,25.7929,25,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,2.0,4.0
47463,WY,1997,25.7929,25,7.0,1.0,4.0,1.0,6.0,1.0,1.0,2.0,3.0,2.0,4.0
47464,WY,1997,16.9679,9,7.0,1.0,4.0,1.0,6.0,2.0,2.0,1.0,1.0,2.0,3.0
47465,WY,1997,18.8455,28,7.0,1.0,3.0,4.0,NaN,2.0,2.0,1.0,1.0,3.0,2.0

In [26]:
Data_2017 = Data_2017.rename(columns = {'sitecode':'State', 'race4':'Race', 'race7':'His/Lat','q5': 'RACE',
                             'q30':'Tried Cigarette?', 'q31': 'Age 1st smoke','q32':'# Smoke past 30d?',
                              'q33': '#count per day','q34' : 'vape?','q35': 'vape past30?', 'q37': 'other tobacco?',
                             'q38' : 'cigar smoke?', 'q39' : 'quit tob. 1 year?','q68' : 'your wgt?', 'q79': '100% fruit juice 7 days', 
                            'q80': 'hrs tv school?', 'q83': 'sprs team per year'})

In [27]:
Data_2017

,State,year,weight,stratum,age,sex,grade,Race,His/Lat,Tried Cigarette?,...,quit tob. 1 year?,vape?,vape?,vape past30?,your wgt?,q69,q70,100% fruit juice 7 days,hrs tv school?,sprs team per year
0,AK,2017.0,33.2002,3,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,2017.0,51.5642,22,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,2.0,2.0,1.0,NaN,NaN,5.0,4.0,4.0,2.0
2,AK,2017.0,15.7927,8,3.0,NaN,NaN,3.0,4.0,1.0,...,NaN,1.0,1.0,7.0,NaN,NaN,1.0,1.0,7.0,1.0
3,AK,2017.0,15.3101,9,3.0,NaN,1.0,1.0,6.0,2.0,...,NaN,2.0,2.0,1.0,NaN,NaN,2.0,6.0,2.0,1.0
4,AK,2017.0,14.5619,1,6.0,NaN,2.0,4.0,7.0,1.0,...,NaN,1.0,1.0,NaN,NaN,NaN,6.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107659,WV,NaN,120.8731,6,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,2.0,1.0,5.0,4.0,2.0
107660,WV,NaN,64.4657,5,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,4.0,2.0
107661,WV,NaN,16.8292,5,7.0,1.0,4.0,3.0,4.0,2.0,...,1.0,2.0,2.0,1.0,3.0,3.0,1.0,1.0,4.0,1.0
107662,WV,NaN,117.3226,11,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,2.0,4.0,1.0,8.0,3.0,2.0
107663,WV,NaN,117.3226,11,7.0,1.0,4.0,1.0,6.0,2.0,...,1.0,2.0,2.0,1.0,3.0,1.0,2.0,6.0,6.0,2.0

In [29]:
Data_2007 = Data_2007.rename(columns ={'sitecode':'State', 'race4':'Race', 'race7':'His/Lat','q5': 'RACE',
                             'q28':'Tried Cigarette?', 'q29': 'Age 1st smoke','q30':'# Smoke past 30d?',
                              'q31': '#count per day','q35':'quit smoking 30?' , 'q37': 'other tobacco?',
                             'q38' : 'cigar smoke?', 'q39' : 'quit tob. 1 year?', 'q68' : 'your wgt?', 'q79': '100% fruit juice 7 days', 
                            'q80': 'hrs tv school?', 'q83': 'sprs team per year'})

In [30]:
Data_2007

,State,year,weight,stratum,age,sex,grade,Race,His/Lat,Tried Cigarette?,...,quit smoking 30?,q36,other tobacco?,cigar smoke?,quit tob. 1 year?,q40,q41,q72,q78,100% fruit juice 7 days
0,AK,2007,27.7943,18,NaN,NaN,3.0,1.0,6.0,2.0,...,NaN,NaN,NaN,1.0,NaN,6.0,2.0,2.0,NaN,7.0
1,AK,2007,24.7029,26,1.0,NaN,NaN,3.0,4.0,5.0,...,NaN,NaN,NaN,7.0,NaN,7.0,2.0,1.0,NaN,1.0
2,AK,2007,23.6404,1,3.0,NaN,NaN,1.0,6.0,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,NaN,6.0
3,AK,2007,17.7303,4,4.0,NaN,1.0,1.0,6.0,1.0,...,NaN,NaN,NaN,1.0,NaN,2.0,1.0,2.0,NaN,7.0
4,AK,2007,27.5419,6,4.0,NaN,1.0,1.0,6.0,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,1.0,4.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103947,NV,1997,55.3166,16,4.0,1.0,1.0,3.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN
103948,NV,1997,23.7530,26,4.0,1.0,2.0,3.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
103949,NV,1997,62.8366,9,4.0,1.0,1.0,1.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
103950,NV,1997,61.8659,9,4.0,1.0,2.0,2.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN
103951,NV,1997,61.8659,9,4.0,1.0,2.0,1.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN